[Unit]
Description={{progname}} Daemon
After=network-online.target

[Service]
ExecStart=java -jar /home/{{uz}}/.local/share/{{progname}}/{{jar}} --config /home/{{uz}}/.config/{{progname}}/config.json

[Install]
WantedBy=default.target
